.logo{
    height: 130px;
    width: 130px;
    margin-top: 80px;
}
.edit{
    height: 50px;
    width: 50px;
    margin-top: 80px;
   
}
.profile{
    height: 250px;
    width: 100%;
    max-width: 650px;
   margin-left: -50px;
}
.cardresize
{
width: 100%;
max-width: 1200px;
height:240px ;
margin-top: -3.5px;
display: flex;
flex-wrap: nowrap;
justify-content: space-around;

}
.bg{
   padding-bottom: 20px;
    background-color: rgba(204, 197, 197, 0.562);
}
.carditem{
    display: inline-block;
    width: 100%;
max-width: 330px;
height:280px ;
margin-right: 80px;
margin-bottom: 20px;
}
